// @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Kablammo&display=swap');

// $font-type: 'Poppins';
$font-type: 'Kablammo';
$color-primary: #08295e;
$color-secondary: #472f5f;
$color-success: #99b333;
$color-variant-r: #ff5454;
$color-variant-g: #14ff14;
$color-variant-ge: #027702;
$color-variant-b: #14ffff;
$color-variant-v: #f200f2;
$color-variant-y: #f5f760;